{% block tweakwise_cross_selling %}
    {% if (page.extensions.twConfiguration.integration == 'javascript' or page.extensions.twConfiguration.integration == 'pluginstudio') %}

        {% set groupKey = "sw-cross-sell" %}
        {% set event = 'twn.recommendations.ready' %}
        {% if page.extensions.twConfiguration.integration == 'javascript' %}
            {% set event = 'DOMContentLoaded' %}
        {% endif %}
        <div id="tweakwise-crossselling-{{ element.id }}"></div>

        <script>
            window.addEventListener("{{ event }}", function () {
                tweakwiseRecommendations({
                    output: "#tweakwise-crossselling-{{ element.id }}",
                    instancekey: "{{ page.extensions.twConfiguration.instanceKey|escape }}",
                    related: {
                        productId: "{{ page.extensions.twConfiguration.crossSellProductId }}",
                        groupKey: "{{ groupKey }}"
                    },
                    on: {
                        "twn.add-to-cart": function (event) {
                            let addToCartEvent = new CustomEvent('twAddToCart', {
                                detail: {
                                    addToCartAction: '{{ path('frontend.checkout.line-item.add') }}',
                                    data: event.data
                                }
                            });
                            window.dispatchEvent(addToCartEvent);
                        },
                        "twn.request.success": function (event) {
                            let navSuccessEvent = new CustomEvent('twSuccess', {
                                detail: {
                                    data: event.data
                                }
                            });
                            window.dispatchEvent(navSuccessEvent);
                        },
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
