{% sw_extends '@Storefront/storefront/element/cms-element-cross-selling.html.twig' %}

{% block cms_element_cross_selling_tabs_content_container_slider %}
    {% if (page.extensions.twConfiguration.integration == 'javascript' or page.extensions.twConfiguration.integration == 'pluginstudio') and item.crossSelling.type == "tweakwiseRecommendation" %}
        {% if item.crossSelling.extensions.tweakwise.groupKey %}
            {% set groupKey = item.crossSelling.extensions.tweakwise.groupKey %}
        {% else %}
            {% set groupKey = "sw-cross-sell" %}
        {% endif %}
        {% set event = 'twn.recommendations.ready' %}
        {% if page.extensions.twConfiguration.integration == 'javascript' %}
            {% set event = 'DOMContentLoaded' %}
        {% endif %}
        <div id="related-recommendations-{{ id }}"></div>

        <script>
            window.addEventListener("{{ event }}", function () {
                tweakwiseRecommendations({
                    output: "#related-recommendations-{{ id }}",
                    instancekey: "{{ page.extensions.twConfiguration.instanceKey|escape }}",
                    related: {
                        productId: "{{ page.extensions.twConfiguration.crossSellProductId }}",
                        groupKey: "{{ groupKey }}"
                    },
                    on: {
                        "twn.add-to-cart": function (event) {
                            let addToCartEvent = new CustomEvent('twAddToCart', {
                                detail: {
                                    addToCartAction: '{{ path('frontend.checkout.line-item.add') }}',
                                    data: event.data
                                }
                            });
                            window.dispatchEvent(addToCartEvent);
                        },
                       "twn.request.success": function (event) {
                            let navSuccessEvent = new CustomEvent('twSuccess', {
                                detail: {
                                    data: event.data
                                }
                            });
                            window.dispatchEvent(navSuccessEvent);
                        },
                    }
                });
            });
        </script>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
