{% block tweakwise_featured_products %}
    {% set instanceKey = page.extensions.twConfiguration.instanceKey|escape %}
    {% set languageKey = (page.header.activeLanguage.translationCode.code ?? context.languageInfo.localeCode)|split('-')[0]|escape %}

    {% if element.config.groupId.value and instanceKey %}
        {% set event = 'twn.recommendations.ready' %}
        {% if page.extensions.twConfiguration.integration == 'javascript' %}
            {% set event = 'DOMContentLoaded' %}
        {% endif %}

        {% block tweakwise_featured_products_container %}
        <div id="tweakwise-featured-recommendations-{{ element.id }}"></div>
        {% endblock %}

        {% block tweakwise_featured_products_js %}
        <script type="text/javascript">
            window.addEventListener("{{ event }}", function () {
                tweakwiseRecommendations({
                    instancekey: "{{ instanceKey }}",
                    lang: "{{ languageKey }}",
                    output: "#tweakwise-featured-recommendations-{{ element.id }}",
                    featured: {
                        id: "{{ element.config.groupId.value }}"
                    },
                    {% if element.config.itemsDesktop.value or element.config.itemsTablet.value or element.config.itemsMobile.value or element.config.viewDesktop.value or element.config.viewTablet.value or element.config.viewMobile.value %}
                    products: {
                        {% if element.config.itemsDesktop.value and element.config.viewDesktop.value != 'grid' %}desktop: {{ element.config.itemsDesktop.value }},{% endif %}
                        {% if element.config.itemsTablet.value and element.config.viewTablet.value != 'grid' %}tablet: {{ element.config.itemsTablet.value }},{% endif %}
                        {% if element.config.itemsMobile.value and element.config.viewMobile.value != 'grid' %}mobile: {{ element.config.itemsMobile.value }},{% endif %}
                        {% if element.config.viewDesktop.value %}desktopView: "{{ element.config.viewDesktop.value }}",{% endif %}
                        {% if element.config.viewTablet.value %}tabletView: "{{ element.config.viewTablet.value }}",{% endif %}
                        {% if element.config.viewMobile.value %}mobileView: "{{ element.config.viewMobile.value }}",{% endif %}
                    },
                    {% endif %}
                    on: {
                        "twn.add-to-cart": function (event) {
                            {% block tweakwise_featured_products_on_twn_addtocart %}
                            let addToCartEvent = new CustomEvent('twAddToCart', {
                                detail: {
                                    addToCartAction: '{{ path('frontend.checkout.line-item.add') }}',
                                    data: event.data
                                }
                            });
                            window.dispatchEvent(addToCartEvent);
                            {% endblock %}
                        },
                        "twn.add-to-favorites": function (event) {
                            {% block tweakwise_featured_products_on_twn_addtofavorites %}
                            let addToFavoritesEvent = new CustomEvent('twAddToFavorites', {
                                detail: {
                                    routerAddPath: '{{ path('frontend.wishlist.product.add', { productId: 'idPlaceholder' }) }}',
                                    routerAddAfterLoginPath: '{{ path('frontend.wishlist.add.after.login', { productId: 'idPlaceholder' }) }}',
                                    routerRemovePath: '{{ path('frontend.wishlist.product.remove', { productId: 'idPlaceholder' }) }}',
                                    data: event.data
                                }
                            });
                            window.dispatchEvent(addToFavoritesEvent);
                            {% endblock %}
                        },
                        "twn.request.success": function (event) {
                            {% block tweakwise_featured_products_on_twn_request_succes %}
                            let navSuccessEvent = new CustomEvent('twSuccess', {
                                detail: {
                                    data: event.data
                                }
                            });
                            window.dispatchEvent(navSuccessEvent);
                            {% endblock %}
                        },
                        {% block tweakwise_featured_products_on_additional_handlers %}{% endblock %}
                    }
                });
            });
        </script>
        {% endblock %}
    {% endif %}
{% endblock %}
