{% block tweakwise_cross_selling %}
    {% if (page.extensions.twConfiguration.integration == 'javascript' or page.extensions.twConfiguration.integration == 'pluginstudio') and page.extensions.twConfiguration.crossSellProductId %}

        {% set event = 'twn.recommendations.ready' %}
        {% if page.extensions.twConfiguration.integration == 'javascript' %}
            {% set event = 'DOMContentLoaded' %}
        {% endif %}
        <div id="tweakwise-crossselling-{{ element.id }}"></div>

        <script>
            window.addEventListener("{{ event }}", function () {
                tweakwiseRecommendations({
                    output: "#tweakwise-crossselling-{{ element.id }}",
                    instancekey: "{{ page.extensions.twConfiguration.instanceKey|escape }}",
                    related: {
                        productId: "{{ page.extensions.twConfiguration.crossSellProductId }}",
                        groupKey: {{ element.config.groupKey.value|json_encode|raw }},
                    },
                    {% if element.config.itemsDesktop.value or element.config.itemsTablet.value or element.config.itemsMobile.value or element.config.viewDesktop.value or element.config.viewTablet.value or element.config.viewMobile.value %}
                    products: {
                        {% if element.config.itemsDesktop.value and element.config.viewDesktop.value != 'grid' %}desktop: {{ element.config.itemsDesktop.value }},{% endif %}
                        {% if element.config.itemsTablet.value and element.config.viewTablet.value != 'grid' %}tablet: {{ element.config.itemsTablet.value }},{% endif %}
                        {% if element.config.itemsMobile.value and element.config.viewMobile.value != 'grid' %}mobile: {{ element.config.itemsMobile.value }},{% endif %}
                        {% if element.config.viewDesktop.value %}desktopView: "{{ element.config.viewDesktop.value }}",{% endif %}
                        {% if element.config.viewTablet.value %}tabletView: "{{ element.config.viewTablet.value }}",{% endif %}
                        {% if element.config.viewMobile.value %}mobileView: "{{ element.config.viewMobile.value }}",{% endif %}
                    },
                    {% endif %}
                    on: {
                        "twn.add-to-cart": function (event) {
                            let addToCartEvent = new CustomEvent('twAddToCart', {
                                detail: {
                                    addToCartAction: '{{ path('frontend.checkout.line-item.add') }}',
                                    data: event.data
                                }
                            });
                            window.dispatchEvent(addToCartEvent);
                        },
                        "twn.add-to-favorites": function (event) {
                            let addToFavoritesEvent = new CustomEvent('twAddToFavorites', {
                                detail: {
                                    routerAddPath: '{{ path('frontend.wishlist.product.add', { productId: 'idPlaceholder' }) }}',
                                    routerAddAfterLoginPath: '{{ path('frontend.wishlist.add.after.login', { productId: 'idPlaceholder' }) }}',
                                    routerRemovePath: '{{ path('frontend.wishlist.product.remove', { productId: 'idPlaceholder' }) }}',
                                    data: event.data
                                }
                            });
                            window.dispatchEvent(addToFavoritesEvent);
                        },
                        "twn.request.success": function (event) {
                            let navSuccessEvent = new CustomEvent('twSuccess', {
                                detail: {
                                    data: event.data
                                }
                            });
                            window.dispatchEvent(navSuccessEvent);
                        },
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
