{% sw_extends '@Storefront/storefront/layout/header/search.html.twig' %}

{% block layout_header_search %}
    {% if page.extensions.twConfiguration.integration == 'javascript' %}
        <div class="collapse" id="searchCollapse">
            <div class="header-search">
                <div class="header-search-form">
                    <div class="input-group">
                        <input type="search"
                               name="tn_q"
                               id="tweakwise-input"
                               class="form-control header-search-input"
                               autocomplete="off"
                               autocapitalize="off"
                               placeholder="{{ "header.searchPlaceholder"|trans|striptags }}"
                               aria-label="{{ "header.searchPlaceholder"|trans|striptags }}"
                               value="{{ page.searchTerm }}"
                        >
                        <div class="input-group-append">
                            <button type="submit"
                                    class="btn header-search-btn"
                                    aria-label="{{ "header.searchButton"|trans|striptags }}">
                        <span class="header-search-icon">
                            {% sw_icon 'search' style {'size': 'sm'} %}
                        </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
